body{
    display: flex;
    justify-content: center;
    flex-direction:column;
    text-align: center;
    align-items: center;
    height: 100vh;
background-color: blueviolet;
border: 0;
margin: 0;
}
.bo{
    padding: 90px;
    border-radius: 20%;
    border: 4px solid black;
    background-color: darkslateblue;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.bo:hover{
box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);    
transform: scale(1.0);
margin: auto;
border: black 2px solid;
}
h1{
    background-color: lightgreen;
    padding: 20px;
    border-radius: 30px;
    color: black;
    border: 2px solid black;
    border-style: dashed;
}

li{
    text-decoration: none;
}
.lee{
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
}